##### Function

## Introduction to Functions:

Definition:-

A Function is a block of code that prefroms a specific task. Functions help in organizing code,reusing code  and improving readability.

In [ ]:
## Syntax:
def function_name(parameters):
    """Docstring"""
    # Function Body
    return expression

In [3]:
## why functions?
num=23
if num%2==0:
    print(f"{num} is even ")
else:
    print(f"{num} is odd ")

23 is odd

In [4]:
def even_or_odd(num):
    """This fnction finds even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [5]:
## Call this functions:
even_or_odd(34)

the number is even

In [6]:
### Function with multiple parameters:
def add(a,b):
    """"This function adds two numbers"""
    return a+b
result=add(4,5)
print(result)

9

In [7]:
## Default parameters:
def greet(name):
    print(f"hello {name} Welcome to the paradise")
greet("dikshant ")

hello dikshant  Welcome to the paradise

In [8]:
def greet(name):
    print(f"hello {name} Welcome to the paradise")
greet()

TypeError: greet() missing 1 required positional argument: 'name'

In [9]:
def greet(name="guest"):
    print(f"hello {name} Welcome to the paradise")
greet()

hello guest Welcome to the paradise

In [ ]:
### Varible Length Arguments:
## Positional Arguments (*args);
def print_numbers(*args):
    for numbers in args:
        print(numbers)

In [12]:
print_numbers(1,2,3,4,5,6,7,8,"dikshant")

1
2
3
4
5
6
7
8
dikshant

In [13]:
### Keyword Arguments ( **kwargs);
def print_details(**kwargs):
    for key,values in kwargs.items():
        print(f"{key} : {values}")

In [14]:
print_details(name="dikshant",age=21,city="derabassi")

name : dikshant
age : 21
city : derabassi

In [16]:
def print_details(*args, **kwargs):
    for val in args:
        print(f"Positional argument: {val}")
    for key,values in kwargs.items():
        print(f"{key} : {values}")

In [17]:
print_details(1,2,3,name="dikshant",age=21,city="derabassi")

Positional argument: 1
Positional argument: 2
Positional argument: 3
name : dikshant
age : 21
city : derabassi

In [18]:
### Return Statemints:
def multiply(a,b):
    return a*b


multiply(4,5)

20

In [19]:
def multiply(a,b):
    return a*b,a


multiply(4,5)

(20, 4)