#### The Map() Function in Python

The map() function applies a given function to all items in an input list (or ant other iterable) and returns a map object (an iterator).This is particularly useful for transforming data in a list comprehensively.

In [1]:
def square(x):
    return x*x

square(10)

100

In [2]:
numbers=[1,2,3,4,5,6,7,8]
map(square,numbers)

In [4]:
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
## Lambda function with map:
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [6]:
#### Map multiple iterables:
numbers1=[1,2,3]
numbers2=[4,5,6]
added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [7]:
### map() to convert a list of string to integers:
# use map to convert string to integers:
str_numbers =["1","2","3","4","5"]
int_numbers = list(map(int, str_numbers))
print(int_numbers) #output(1,2,3,4,5)

[1, 2, 3, 4, 5]

In [9]:
words=["apple","banana","cherry"]
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [10]:
def get_name(person):
    return person["name"]

people=[
    {"name":"dikshant","age":21},
    {"name":"dishu","age":23}
] 

list(map(get_name,people))

['dikshant', 'dishu']

In [11]:
def get_name(person):
    return person["age"]

people=[
    {"name":"dikshant","age":21},
    {"name":"dishu","age":23}
] 

list(map(get_name,people))

[21, 23]