#### Loops

In [1]:
range(5)

range(0, 5)

In [2]:
## For Loops:
# A for loop is used for iterating over a sequence (like a list, tuple, dictionary, set, or string).
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [7]:
range(1,10,2)

range(1, 10, 2)

In [8]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [9]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [10]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [11]:
## String Iteration:
# You can also use a for loop to iterate through the characters of a string.
str="diskhant Aggarwal"
for i in str:
    print(i)

d
i
s
k
h
a
n
t

A
g
g
a
r
w
a
l

In [12]:
## While Loops:
# A while loop repeatedly executes a target statement as long as a given condition is true.
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [13]:
count =0
while count%2==0:
    print(count)
    count +=1

0

In [14]:
## loop control statements
# Loop control statements change execution from its normal sequence.
# They can be used to terminate a loop, skip to the next iteration, or jump to the loop's beginning.
# The loop control statements are:
# break
# continue
# pass

In [15]:
## break statement
## The break statement is used to exit a loop prematurely when a certain condition is met.
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [16]:
## Continue Statement:
## The continue statement is used to skip the current iteration of a loop and move to the next iteration.
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [17]:
for i in range(10):
    if i%3==0:
        continue
    print(i)

1
2
4
5
7
8

In [18]:
## Pass Statement:
## The pass statement is a null operation; it is used when a statement is syntactically
for i in range(5):
    if i ==3:
        pass
    print(i)

0
1
2
3
4

In [19]:
## Nested Loops:
# A nested loop is a loop inside another loop. The "inner loop" will be executed
for i in range(3):
    for j in range(2):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

In [20]:
## Examples- Calculate the sum of first N natural numbers using a while and for loop.

## while loop
n=10
sum=0
count=1
while count<=n:
    sum=sum+count
    count=count+1
print(f"The sum of first {n} natural numbers using while loop is: {sum}")

The sum of first 10 natural numbers using while loop is: 55

In [24]:
n=10
sum=0
for i in range(11):
    sum=sum+i
print(f"The sum of first {n} natural numbers using for loop is: {sum}")

The sum of first 10 natural numbers using for loop is: 55

In [25]:
## Examples-  prime numbers between 1 to 100 using for loop. 

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97