#### Variables

Variables are fundamental elements in programing used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explict declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

In [1]:
a=100

In [2]:
## declaring and assigning variables in python
age=21
height=5.9
name="Dikshant"
is_student=True
# Printing the variables
print("age:", age)
print("height:", height)
print("name:", name)
print("is_student:", is_student)

age: 21
height: 5.9
name: Dikshant
is_student: True

In [ ]:
# Naming Conventions in Python:
# Variable  name should be descriptive
# They must start with a letter or an "_" and contains letter,names,digits or underscores
# They are case-sensitive
# Avoid using Python reserved keywords as variable names
# Examples of valid variable names:
first_name = "Dikshant"
last_name = "aggarwal"

In [3]:
# Invalid variable names (uncommenting these will cause errors):
 1name = "Dikshant"  # Starts with a digit

IndentationError: unexpected indent (2111283625.py, line 2)

In [5]:
## Case Sensitivity in Variable Names:
name="Dikshant"
Name="dishu"

name==Name  # This will return False

False

In [8]:
# Understanding variable types in Python:
## Python is dynamically typed, meaning you don't need to declare variable types explicitly. The interpreter infers the type based on the assigned value.
age = 25               # Integer
height = 5.9          # Float
name = "Dikshant"     # String
is_student = True     # Boolean
print(type(age))        # <class 'int'>

<class 'int'>

In [9]:
print(type(name))       # <class 'str'>

<class 'str'>

In [10]:
## Type Checking and conversion:
type(height)  # <class 'float'>

float

In [13]:
age=21
print(type(age))  # <class 'int'>
#type conversion
age_str=str(age)
print(age_str)  # '21'
print(type(age_str))  # <class 'str'>

<class 'int'>
21
<class 'str'>

In [14]:
age="21"
print(type(int(age)))

<class 'int'>

In [15]:
name="Dikshant"
int(name)  # This will raise a ValueError

ValueError: invalid literal for int() with base 10: 'Dikshant'

In [19]:
height=5.9
type(int(height))  # This will return 5
int(height)  # This will return 5

5

In [18]:
float(height)  # This will return 5.9

5.9

In [22]:
# Dynamic Typing in Python:
# Python allows you to change the type of a variable by reassigning it to a different type of value.
var=10 #int
print(var,type(var))

var="hello" #str
print(var,type(var))

var=5.5 #float
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
5.5 <class 'float'>

In [24]:
# input() Function:
age=input("Enter your age: ")  # input() returns a string
print("Your age is:", age)

Your age is: 22

In [27]:
# Simple Calculator using variables and input():
num1=input("Enter first number: ")
num2=input("Enter second number: ") 
sum=float(num1)+float(num2)
diff=float(num1)-float(num2)
product=float(num1)*float(num2)
qotient=float(num1)/float(num2)
print("The sum of",num1,"and",num2,"is:",sum)               
print("The difference of",num1,"and",num2,"is:",diff)
print("The product of",num1,"and",num2,"is:",product)
print("The quotient of",num1,"and",num2,"is:",qotient)

The sum of 1 and 4 is: 5.0
The difference of 1 and 4 is: -3.0
The product of 1 and 4 is: 4.0
The quotient of 1 and 4 is: 0.25