#### Tuples

Tuples are ordered collections of items that are immutable. They are similar to lists , but their immutablility makes them different.

In [ ]:
-## Creating a tuple:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [5]:
numbers=tuple([1,2,3,4,4,5])
numbers

(1, 2, 3, 4, 4, 5)

In [6]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [7]:
mixed_tuple=(1,"hello World",3.14,True)
print(mixed_tuple)

(1, 'hello World', 3.14, True)

In [8]:
## Accessing Tuple Elements:
numbers

(1, 2, 3, 4, 4, 5)

In [10]:
numbers[2]
numbers[-1]

5

In [11]:
numbers[0:4]

(1, 2, 3, 4)

In [12]:
numbers[::]

(1, 2, 3, 4, 4, 5)

In [13]:
numbers[::-2]

(5, 4, 2)

In [15]:
## Tuple Operations:
# Concatenation
concatenated_tuple=numbers + mixed_tuple
print(concatenated_tuple)

(1, 2, 3, 4, 4, 5, 1, 'hello World', 3.14, True)

In [16]:
mixed_tuple * 3

(1,
 'hello World',
 3.14,
 True,
 1,
 'hello World',
 3.14,
 True,
 1,
 'hello World',
 3.14,
 True)

In [17]:
numbers *3

(1, 2, 3, 4, 4, 5, 1, 2, 3, 4, 4, 5, 1, 2, 3, 4, 4, 5)

In [19]:
## Immutable Nature of Tuples:
## Trying to change an element (This will raise an error)
# numbers[0]=10  # Uncommenting this line will raise a TypeError
lst=[1,2,3,4,5]
print(lst)

lst[1]="dikshant"
print(lst)

[1, 2, 3, 4, 5]
[1, 'dikshant', 3, 4, 5]

In [21]:
numbers[1]="dishu"

TypeError: 'tuple' object does not support item assignment

In [23]:
numbers

(1, 2, 3, 4, 4, 5)

In [25]:
## Tuple Methods:
print(numbers.count(1))
print(numbers.index(4))

1
3

In [27]:
## Packing and Unpacking Tuples: 
packed_tuple=1,"hello",3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [30]:
## Unpacking a tuple:
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [31]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [35]:
## Nested Tuples:
## Example of a nested list
lst=[[1,2,3,4],[5,6,7,8,9],[1,"hello",3.14,"c"]]
lst[0][2]
lst[0][0:3]

[1, 2, 3]

In [37]:
lst=[[1,2,3,4],[5,6,7,8,9],(1,"hello",3.14,"c")]
lst[2][2]
lst[2][0:3]

(1, 'hello', 3.14)

In [39]:
nested_tuple =((1,2,3),("a","b","c"),(True,False))
## Accessing elements in nested tuples
print(nested_tuple[0]) 
print(nested_tuple[1][2])

(1, 2, 3)
c

In [41]:
## Iterating over nested tuples:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False